<form method="post">
    <div class="form-group">
        <label for="name">Accessory name</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="url">Accessory image URL</label>
        <input type="url" name="url" id="url">
    </div>
    <div class="form-btn">
    <button class="btn primary-btn">Create this accessory</button>
    </div>
</form>
