{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
        {# TODO Display all accessories here #}
        {% for accessory in accessories %}
          <article>
            <h2>{{ accessory.name }}</h2>
            <img src="{{ accessory.url }}">
          </article>
        {% endfor %}
    </div>
{% endblock %}
