{% extends 'base.html.twig' %}

{% block title %}New Materials{% endblock %}

{% block body %}
    <h1>Create new Materials</h1>

    {{ include('materials/_form.html.twig') }}

    <a href="{{ path('materials_index') }}">back to list</a>
{% endblock %}
