{% extends 'base.html.twig' %}

{% block title %}Edit Boat{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Boat</h1>
        <div class="row">

            {{ include('boat/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('boat_index') }}">back to list</a>

            {{ include('boat/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
