$central-fab-color: #faf9f9;
$light-color: #000;
$orange: #ffd6ba;


$lightBtn: #FFBD07;
$lightBg: #fff;
$lightColor: #232323;

@font-face{
    font-family: "Gravity-Bold-Italic";
    src: url("../fonts/Gravity-Bold-Italic.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Bold";
    src: url("../fonts/Gravity-Bold.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Book-Italic";
    src: url("../fonts/Gravity-Book-Italic.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Book";
    src: url("../fonts/Gravity-Book.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Italic";
    src: url("../fonts/Gravity-Italic.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Light-Italic";
    src: url("../fonts/Gravity-Light-Italic.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Light";
    src: url("../fonts/Gravity-Light.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Regular";
    src: url("../fonts/Gravity-Regular.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Ultra-Light-Italic";
    src: url("../fonts/Gravity-Ultra-Light-Italic.woff2") format("truetype");
}
@font-face{
    font-family: "Gravity-Ultra-Light";
    src: url("../fonts/Gravity-Ultra-Light.woff2") format("truetype");
}