<form method="post" action="{{ path('episode_delete', {id: episode.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet épisode ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
    <button class="btn btn-danger mt-3">Supprimer</button>
</form>