<form method="post" action="{{ path('program_delete', {slug: program.slug}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette série ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.slug) }}">
    <button class="btn btn-danger mt-3">Supprimer</button>
</form>