
$body-bg: white;
$body-color: black;

/*
	Pagination
*/

.pagination {
	margin: 2rem auto;
	width: 50%;
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/fancybox/dist/scss/jquery.fancybox";